body {
    padding-top: 10px;
}

/* color scheme notes:
    navajo white, triad, complementary and shades
*/

.jumbotron {
    /* add bootstrap jumbotron background image */
    /*background-image: url("images/FurTexture4_2.png");  */
    background-color: #40372B;
    opacity: 0.8;
    min-height: 200px;
    /* change bootstrap jumbotron text color */
    color: #ADDCFF;
}

.row {
    margin: 0;
}
#disclaimer {
    font-size: x-small;
    font-style: italic;
    position: absolute;
    bottom: 0;
    
}

.col-md-4
{
    color: #558BB2;
    background-color: navajowhite;
    min-height:170px;
 }

.border1{
    border: 5px solid;
    border-radius: 20px;
    border-color: #ADDCFF;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#carousel-caption-style {
    background-color: dimgray;
    padding-left: 7px;
    padding-right: 7px;
    opacity: .7;
}