@{
    ViewBag.Title = "Rent-A-Kitten: Home";
}


<div class="jumbotron">
    <h1>RENT A KITTEN</h1>
    <p class="lead">   </p>
    <p></p> 
</div>

<div class="row">
    <div class="col-md-3 border1">
        <h2>Customer Portal</h2>
        <p></p>
        <br />
        <br />
        <p></p>
    </div>
    <div class="col-md-3 border1">
        <h2>Kittens</h2>
        <p>Rent your kitten today! Don't delay; delay causes kittens to become...cats.</p>
        <p></p>
    </div>
    <div class="col-md-3 border1">
        <h2>Rental History</h2>
        <p></p>
        <br />
        <br />
        <p></p>
    </div>
</div>