@{
    ViewBag.Title = "Rent-A-Kitten: Home";
}

<div class="container">


    <div class="row">
        <div class="col-md-4 border1">
            <h2>@Html.ActionLink("Customers", "../Customers")</h2>
            <p></p>
            <br />
            <br />
            <p></p>
        </div>
        <div class="col-md-4 border1">
            <h2>@Html.ActionLink("Kittens", "../Kittens")</h2>
            <p>Rent your kitten today! Don't delay; delay causes kittens to become...cats.*</p>
            <p id="disclaimer">*disclaimer: Feline not guaranteed.</p>
            <p></p>
        </div>
        <div class="col-md-4 border1">
            <h2>@Html.ActionLink("Rental History", "../Rents")</h2>
            <p></p>
            <br />
            <br />
            <p></p>
        </div>
    </div>

    <div class="jumbotron">
        <h1>RENT A KITTEN</h1>
        <p class="lead">
            Because it's 2016 and nobody rents movies anymore.
            Based on the movie rental MVC application exercise.
        </p>
        <p></p>
    </div>
</div>